{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
<div class="custom-fields-wrapper">
  {% include 'custom_fields.blogs.blog_slideshow' %}
  {% include 'custom_fields.blogs.blog_read-text' %}
  {% include 'custom_fields.blogs.remarks' %}
</div>