{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
<div class="custom-fields-wrapper">
  {% include 'custom_fields.collections.collection_slide' %}
  {% include 'custom_fields.collections.collection_hero' %}
  {% include 'custom_fields.collections.collection_sub_text' %}
</div>