{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/ateliershimura.myshopify.com/globals/configure/232984/edit
{% endcomment %}
{% if shop.metafields.custom_fields["english_read_title"] != blank %}
  <div class="custom-field custom-field__english-read-title custom-field__type--text">
    <h3 class="custom-field--title">Englishページ見出し</h3>
    <div class="custom-field--value">
      {{ shop.metafields.custom_fields["english_read_title"] }}
    </div>
  </div>
{% endif %}