{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/ateliershimura.myshopify.com/blogs/configure/219157/edit
{% endcomment %}
{% if blog.metafields.custom_fields["remarks"] != blank %}
  <div class="custom-field custom-field__remarks custom-field__type--field-collection">
    <h3 class="custom-field--title">Remarks</h3>
    <div class="custom-field--value">
      {% assign separator = "|###|" %}
      {% assign remarks_title_array = blog.metafields.custom_fields["remarks_title"] | split: separator %}
      {% assign remarks_text_array = blog.metafields.custom_fields["remarks_text"] | split: separator %}
      {% assign remarks_link_array = blog.metafields.custom_fields["remarks_link"] | split: separator %}
      {% assign fc_keys = blog.metafields.custom_fields["remarks"] | split: "," %}
      {% for i in fc_keys %}
        {% assign index = i | plus: 0 %}
        <div class="fc-item fc-item-- fc-index--{{ index }}">
          <div class="fc-field field__remarks-title">
            {{ remarks_title_array[index] }}
          </div>
          <div class="fc-field field__remarks-text">
            {{ remarks_text_array[index] }}
          </div>
          <div class="fc-field field__remarks-link">
            {{ remarks_link_array[index] }}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}