{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/ateliershimura.myshopify.com/articles/configure/221878/edit
{% endcomment %}
{% if article.metafields.custom_fields["blog_subtitle"] != blank %}
  <div class="custom-field custom-field__blog-subtitle custom-field__type--text">
    <h3 class="custom-field--title">Sub Title</h3>
    <div class="custom-field--value">
      {{ article.metafields.custom_fields["blog_subtitle"] }}
    </div>
  </div>
{% endif %}