{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/ateliershimura.myshopify.com/pages/configure/218616/edit
{% endcomment %}
{% if page.metafields.custom_fields["page_slide"] != blank %}
  <div class="custom-field custom-field__page-slide custom-field__type--text">
    <h3 class="custom-field--title">Slide</h3>
    <div class="custom-field--value">
      {{ page.metafields.custom_fields["page_slide"] }}
    </div>
  </div>
{% endif %}