{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
<div class="custom-fields-wrapper">
  {% include 'custom_fields.pages.page_read-text' %}
  {% include 'custom_fields.pages.page_slide' %}
  {% include 'custom_fields.pages.page_hero' %}
  {% include 'custom_fields.pages.workshop_couse' %}
  {% include 'custom_fields.pages.workshop_permalink_text' %}
  {% include 'custom_fields.pages.ws_permalink_text_image' %}
  {% include 'custom_fields.pages.page_contact_btn' %}
</div>