{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
<div class="custom-fields-wrapper">
  {% include 'custom_fields.shop.collection_list' %}
  {% include 'custom_fields.shop.english_read_title' %}
  {% include 'custom_fields.shop.english_read_text' %}
  {% include 'custom_fields.shop.english_store' %}
  {% include 'custom_fields.shop.english_about_image' %}
  {% include 'custom_fields.shop.english_about_title' %}
  {% include 'custom_fields.shop.english_about_text' %}
</div>