<div class="site-mobile-nav" id="site-mobile-nav" data-mobile-nav tabindex="0">
  <div class="mobile-nav-panel" data-mobile-nav-panel>
    <div class="header-actions-wrapper">
      {% include 'site-header-actions', mobile: true %}
      <a
        class="mobile-nav-close"
        href="#site-header-nav"
        data-mobile-nav-close
      >
        {% include 'icon-library', id: 'icon-burger-close' %}
        <span class="visually-hidden">{{ 'general.accessibility.close' | t }}</span>
      </a>
    </div>

    <div class="mobile-nav-content en-hide" data-mobile-nav-content>
      {%
        include 'navmenu',
        menu: section.settings.menu,
        blocks: blocks,
        depth: 1,
        max_depth: 3,
        is_mobile: true
        highlight_item: settings.header_navigation_sale_link_label,
      %}
    </div>

    <div class="mobile-nav-content en-display" data-mobile-nav-content>
      <ul class="navmenu navmenu-depth-1">
        <li class="navmenu-item">
          <a href="/blogs/en-stories" class="navmenu-link">Stories</a>
        </li>
        <li class="navmenu-item">
          <a href="/pages/en-about" class="navmenu-link">About</a>
        </li>
        <li class="navmenu-item">
          <a href="/pages/en-products" class="navmenu-link">Products</a>
        </li>
        <li class="navmenu-item">
          <a href="/blogs/en-store" class="navmenu-link">Store</a>
        </li>
        <li class="navmenu-item">
          <a href="/" class="navmenu-link">Japanese</a>
        </li>
      </ul>
    </div>

  </div>

  <div class="mobile-nav-overlay" data-mobile-nav-overlay></div>
</div>
