/** font **/

body {
  font-family: IwaOMinPro-Th, "Times New Roman", "ＭＳ 明朝", "MS Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", メイリオ, meiryo, serif　!important;
  font-weight:normal !important;
  color: #221815;
}

input,
.button-text,
.header-text,
.home-section--title,
.site-navigation,
.rich-text-heading,
.productitem--price,
.newsletter,
.site-footer-block-title{
  font-family: IwaOMinPro-Th, "Times New Roman", "ＭＳ 明朝", "MS Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", メイリオ, meiryo, serif　!important;
  
}

button,
button.newsletter-submit,
.breadcrumbs-container {
  font-family: IwaOMinPro-Th, "Times New Roman", "ＭＳ 明朝", "MS Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", メイリオ, meiryo, serif　!important;
}

.button-wrap {
display:block;
}

.button-wrap a{
display:block;
  width:100%;
}

main a,
footer a,
.productitem--title,
.productitem--info a{
  font-family: IwaOMinPro-Th, "Times New Roman", "ＭＳ 明朝", "MS Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", メイリオ, meiryo, serif　!important;
  color:#212529;
}

body ul,
body li,
body ol {
 color:#212529;
}
::marker {
  color:#212529 !important;
}

figure {
  margin: 0;
  padding: 0;
}

.article--pagination-text{
  visibility: hidden;
}

.article--pagination-text .article--pagination-title{
  visibility: visible;
}

#shopify-chat,
#dummy-chat-button-iframe{
  display: none !important;
}

.as-hide {
  display: none !important;
}

.en-display {
  visibility: hidden;
}

header.lang-en .en-display {
  visibility: visible;
}

header.lang-en .site-header-main-actions,
header.lang-en .en-hide {
  visibility: hidden !important;
}

header.site-header .en-display {
  visibility: hidden;
  height: 0;
  padding-top: 0px;
}

header.site-header.lang-en .en-hide {
  visibility: hidden;
  height: 0;
  padding-top: 0px;
}

header.site-header.lang-en .en-display {
  visibility: visible;
  height: auto;
  padding-top: 0.53125rem;
}

header.site-header.lang-en .header-actions-wrapper .site-header-actions{
  visibility: hidden;
}

header.site-header .mobile-nav-content.en-display,
header.site-header .mobile-nav-content.en-hide{
  padding-top: 0 !important;
}

header.site-header.lang-en .mobile-nav-content.en-hide {
  height: 0;
  padding: 0px !important;
}

.site-navigation .navmenu-depth-1 .navmenu-item:nth-child(n + 7){
    display:none;
}

.site-navigation .navmenu-depth-2 .navmenu-item,
.site-navigation .navmenu-depth-2 .navmenu-item:nth-child(n + 7){
    display:block;
}

.mobile-nav-content .navmenu-item-text,
.mobile-nav-content .navmenu-link {
    padding: .6500rem 1.5625rem;
}

.mobile-nav-content li.navmenu-item:nth-child(7){
  padding-top: .9750rem;
}


.mobile-nav-content li.navmenu-item:nth-child(n + 7) a.navmenu-link{
    font-size: 13px;
}

.mobile-nav-content .navmenu-submenu li.navmenu-item:nth-child(7){
  padding-top: 0rem;
}

.mobile-nav-content .navmenu-submenu li.navmenu-item:nth-child(n + 7) a.navmenu-link{
  font-size: 17px;
}


.btn.as-btn{
  display: inline-block;
  color:#212529;
  border-bottom: 1px solid #212529;
  text-decoration: none;
  clear: both;
}

.site-main {
  font-size: 17px;
  line-height: 2;
}


.site-main p {
  line-height: 2 !important;
}

.site-navigation a, .site-navigation .navmenu-depth-1 > li > a, .site-header-actions, .mobile-nav-content .navmenu-depth-1 > .navmenu-item > .navmenu-link {
  font-family: IwaOMinPro-Th, "Times New Roman", "ＭＳ 明朝", "MS Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", メイリオ, meiryo, serif　!important;
  font-style: normal;
  font-weight: normal;
  font-size:17px;
  letter-spacing: normal;
  line-height: 1.65;
}
.site-navigation .navmenu-depth-2 .navmenu-link,
.navmenu-item {
  font-size:17px;
  line-height: 1.65;
}

.site-navigation .navmenu-submenu {
    width: 300px;
}


h1,
.slideshow-slide-heading,
h2, h3, h4, h5,
.small-promo-heading,
.rte .tabs li,
.rte .tabs li > a,
h6,
.navmenu-meganav.navmenu-meganav--desktop .navmenu-item-text,
.product-pricing,
.badge--soldout, .badge--sale,
.form-field-input, .form-field-select, .rte input, .dynamic-newsletter-text input, .productgrid--sidebar-item-grid .filter-item:not(.filter-item--toggle-more), .product-reviews--content .spr-form .spr-form-input-text, .product-reviews--content .spr-form .spr-form-input-email, .product-reviews--content .spr-form .spr-form-input-textarea, .option-value-input + .option-value-name{
font-family: IwaOMinPro-Th, "Times New Roman", "ＭＳ 明朝", "MS Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", メイリオ, meiryo, serif　!important;
font-weight: normal !important;
}

h2 a,
h3 a {
  text-decoration: none !important;
}

h1,
.slideshow-slide-heading,
h2.rich-text-heading,
h2.rich-text-heading-large{
  font-size:32px;
  line-height: 1.5 !important;
}

.as-font-h1 {
  font-size:32px !important;;
}

@media screen and (min-width: 1080px){
  h1,
  .slideshow-slide-heading,
  h2.rich-text-heading,
  h2.rich-text-heading-large{
    font-size:40px !important;
    line-height: 1.5 !important;
  }
  .as-font-h1 {
    font-size:40px !important;;
  }
}


h2.article--excerpt-title,
h2.as-bl-media-body-title,
h3.as-bl-media-body-title,
h2.article--excerpt-title a,
h2.as-bl-media-body-title a,
h3.as-bl-media-body-title a{
}
h2.as-bl-media-body-title-l,
h2.as-bl-media-body-title-l a{
  display: block;
}
h2.as-bl-media-body-title-l.border-top {
  border-top: 1px solid #000000;
  padding-top: 0.53125rem;
}


h2{
  font-size:28px;
  line-height: 1.5;
}

.as-font-h2 {
  font-size:28px !important;
  line-height: 1.5 !important;
}

@media screen and (min-width: 1080px){
  h2{
    font-size:32px;
  }

  .as-font-h2 {
    font-size:32px !important;;
  }
}

h3 {
  font-size:24px;
  line-height: 1.5;
}

.as-font-h3 {
  font-size:24px !important;
  line-height: 1.5 !important;
}

.as-font-subtitle {
  font-size:17px !important;
  line-height: 1.65 !important;
}

h2.productitem--title {
  font-size:17px !important;
  line-height: 1.65 !important;
}

.as-font-body {
  font-size:17px !important;
  line-height: 2 !important;
}

.as-font-caption,
.as-font-caption p {
  font-size:14px !important;
  line-height: 1.5 !important;
}
.as-font-button {
  font-size:15px !important;
  line-height: 1.5 !important;
}

.as-font-strong {
  text-decoration: underline;
}

.as-font-link:link,
.as-font-link:visited {
  color: #212529;
  border-bottom: 1px solid #212529;
  text-decoration: none;
}
.as-font-link:hover {
  color: #adb5bd;
  text-decoration: none;
  border-bottom: 1px solid #FFFFFF;
}

.as-font-color-g7 {
  color: #495057 !important;
}

.productitem--price,
.article--excerpt-meta,
.article--excerpt-meta-item {
  line-height: 2;
}

.productitem--title {
  line-height: 1.5;
}


.site-footer-navigation .navmenu .navmenu-item {
  font-size:14px;
  line-height: 1.5;
}

.blogposts--footer-button{
  font-size:15px;
  border-radius: calc(51px * 0.5);
  padding: 9px 34px !important;
  line-height: 1.5;
}
.button-secondary, .rte button, .dynamic-newsletter-text button, .article--excerpt-wrapper--featured .article--excerpt-button, .utils-sortby--modal-button, .product-reviews--content .spr-summary-actions-newreview, .smart-payment-enabled .product-form--atc-button, .shortcode--product-cta:not([hidden]):not([button-style]), .shortcode--product-cta:not([hidden])[button-style="secondary"] {
    font-size:15px;
    border-radius: calc(51px * 0.5);
    padding: 9px 34px !important;
    line-height: 1.5;
}

.product-form--atc-button {
  width: 100% !important;
  padding: 9px 34px !important;
  font-size:15px;
  border-radius: calc(51px * 0.5);
  margin-left: 0rem !important;
  margin-top: 10px;
  line-height: 1.5;
}

.productgrid--no-results-button,
.button-primary,
.shopify-challenge__container .btn,
.image-with-text-button,
.product-form--atc-button,
.shopify-payment-button .shopify-payment-button__button--unbranded,
.shortcode--product-cta:not([hidden])[button-style="primary"] {
    color: #ffffff;
    background-color: #495057;
    border: 1px solid #495057;
    padding: 9px 34px !important;
    font-size:15px;
    border-radius: calc(51px * 0.5);
    line-height: 1.5;
}

.productgrid--no-results-button:hover,
.button-primary:hover,
.shopify-challenge__container .btn:hover,
.image-with-text-button:hover,
.product-form--atc-button:hover,
.shopify-payment-button .shopify-payment-button__button--unbranded:hover,
.shortcode--product-cta:not([hidden])[button-style="primary"]:hover,
.product-form--atc-button:hover {
  color: #212529;
  border: 1px solid #ADB5BD !important;
}

.alt-img-with-text--link {
  text-align: center;
  margin-top: 0.9296875rem;
}

.product-form--atc-button.disabled {
  background-color: #DEE2E6 !important;
  color: #FFFFFF !important;
  border:1px solid #DEE2E6;
  padding: 9px 34px !important;
  font-size:15px;
  line-height: 1.5;
  border-radius: calc(51px * 0.5);
}

.product-form--atc-button.disabled:hover{
  border:1px solid #DEE2E6 !important;
}

.newsletter .button-primary,
.newsletter .button-secondary {
    font-size:15px;
    border-radius: calc(51px * 0.5);
    padding: 9px 34px !important;
    border: 1px solid #495057;
}
  .newsletter .button-primary:hover {
    color: #212529;
    background-color: #FFFFFF;
    border: 1px solid #dee2e6;
  }

.form-field-input,
.rte input,
.dynamic-newsletter-text input,
.product-reviews--content .spr-form .spr-form-input-text,
.product-reviews--content .spr-form .spr-form-input-email,
.product-reviews--content .spr-form .spr-form-input-textarea {
  border-radius: calc(51px * 0.5);
  padding-right: 36px;
  padding-left: 32px;
}

.globo-formbuilder .globo-form-app .globo-form-control {
    margin-bottom: 2rem;
    font-size: 17px;
    box-sizing: border-box;
    padding: 0 5px;
    width: 100%;
    position: relative;
}

.globo-formbuilder .globo-form-app .globo-form-control label {
    color: #212529;
    display: block;
    margin-bottom: 10px;
    font-weight: normal;
    line-height:1.65;
    font-size: 17px;
}

body.template-page .globo-form-app .globo-form-control .radio-wrapper .radio-label {
    line-height:1.65;
    font-size: 17px;
}

.globo-form-app .header.hidden {
    display:none;
}

.globo-formbuilder .globo-form-app .globo-form-control input,
.globo-formbuilder .globo-form-app .globo-form-control select,
.globo-formbuilder .globo-form-app .globo-form-control textarea {
    border:1px solid #ADB5BD;
    border-radius: calc(50px * 0.5);
    background-color: transparent;
    box-sizing: border-box;
    font-family: inherit;
    overflow: visible;
    display: block;
    height: auto;
    padding: 9px 17px;
    line-height: 2;
    color: #212529;
}

.globo-formbuilder .globo-form-app .globo-form-control input[type="file"] {
    border:0px solid #ADB5BD;
    border-radius: calc(0px * 0.5);
    background-color: transparent;
    box-sizing: border-box;
    font-family: inherit;
    overflow: visible;
    display: block;
    height: auto;
    padding: 9px 0px;
    line-height: 2;
    color: #212529;
}
.globo-formbuilder .globo-form-app .globo-form-control select{
  padding: 9px 34px 9px 17px;
  background-position: right 10px center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.globo-formbuilder .globo-form-app .globo-form-control select svg {
  display: none;
}


body.template-page .globo-form-app .globo-form-control .radio-wrapper .radio-input~.radio-label:before {
  background-image: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #c6c6c6;
  border: none;
  box-shadow: none;
  box-shadow: none;
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.1) inset;
  -webkit-transition: all .2s cubic-bezier(.68,-.55,.265,1.55);
  transition: all .2s cubic-bezier(.68,-.55,.265,1.55);
  display: none;
}
body.template-page .globo-form-app .globo-form-control .radio-wrapper .radio-input~.radio-label:before {
    background-image: none;
    position: absolute;
    top: 1px;
    left: -28px;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    content: "";
    border: none;
    background-color: #c6c6c6;
    box-sizing: border-box;
    box-shadow: none;
    display: none;
}
body.template-page .globo-form-app .globo-form-control .radio-wrapper .radio-input:checked ~ .radio-label:after {
    background-image: none;
    background-color: #000000;
    border: 0px solid #000000;
    box-shadow: none;
    width: 20px;
    height: 20px;
    display: none;
}
body.template-page .globo-form-app .globo-form-control .checkbox-wrapper .checkbox-input ~ .checkbox-label:before,
body.template-page .globo-form-app .globo-form-control .radio-wrapper .radio-input ~ .radio-label:after {
    background-image: none;
    border-color: rgba(0,0,0,0);
    box-shadow: none;
    width: 20px;
    height: 20px;
    display: none;
}

body.template-page .globo-form-app .globo-form-control .radio-wrapper .radio-input {
    display: block;
    position: absolute;
    top: 10px;
    left: -28px;
    box-shadow: none;
    width: 16px;
    height: 16px;
}

body.template-page .globo-form-app .footer button.action {
  font-size:15px;
  border-radius: calc(51px * 0.5);
  padding: 9px 34px !important;
  line-height: 1.5;
  border: 1px solid #212529 !important;
}

body.template-page .globo-form-app .footer button.action:hover {
  color: #212529 !important;
  background-color: transparent !important;
  border: 1px solid #ADB5BD !important;
}

.button-wrap {
  margin-top: 10px;
  text-align: center;
}



.cart-checkout .button-primary{
  line-height: 1 !important;
}

.form-field-title {
  left: 1.59375rem;
  line-height: 1 !important;
  color: #ADB5BD !important;
}

.newsletter-input .form-field-input {
  border: 1px solid #ADB5BD !important;
  color: #ADB5BD !important;
}

.site-footer-credits {
  font-size:14px;
  line-height: 1.5;
}

.lSSlideWrapper .lSAction>a,
.slider-wrap .enapSAction>a {
    display: block;
    top: 46%;
    cursor: pointer;
    font-family: FontAwesome !important;
    position: absolute;
    background: 0 0!important;
    z-index: 99;
    margin-top: -16px;
    opacity: 1;
    -webkit-transition: opacity .35s linear 0s;
    transition: opacity .35s linear 0s;
}

.slider-wrap .enapSAction>a.enapSPrev,
.lSSlideWrapper .lSAction>a.lSPrev {
  padding: 0;
  background: url(arrow-left-dark.svg) !important;
  background-repeat: no-repeat !important;
  background-size: 48px 48px !important;
  display: block;
  width: 48px;
  height: 48px;
  left: 20px;
}
.slider-wrap .enapSAction>a.enapSNext,
.lSSlideWrapper .lSAction>a.lSNext {
  padding: 0;
  background: url(arrow-right-dark.svg) !important;
  background-repeat: no-repeat !important;
  background-size: 48px 48px !important;
  display: block;
  width: 48px;
  height: 48px;
  right: 20px;
}

.slider-wrap .enapSAction>a::after,
.lSSlideWrapper .lSAction a::before {
    display: none !important;
}

.enapSAction>a {
    width: 32px;
    display: block;
    top: 42%;
    height: 32px;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    margin-top: -16px;
    -webkit-transition: opacity .35s linear 0s;
    transition: opacity .35s linear 0s;
}

.enapSAction>a::after {
    display:none;
}

.enapSAction>.enapSPrev {
    padding: 0;
    background: url(arrow-left-dark.svg)!important;
    background-repeat: no-repeat!important;
    background-size: 48px 48px!important;
    display: block;
    width: 48px;
    height: 48px;
}

.enapSAction>.enapSNext {
    padding: 0;
    background: url(arrow-right-dark.svg)!important;
    background-repeat: no-repeat!important;
    background-size: 48px 48px!important;
    display: block;
    width: 48px;
    height: 48px;
}

.enaplSlider + .enapSAction,
.enap-multi-slider + .lSAction {
  opacity: 0;
}

.enaplSlider:hover + .enapSAction,
.enapSAction:hover,
.enap-multi-slider:hover + .lSAction,
.lSAction:hover {
  opacity: 1 !important;
  transition: opacity .35s linear 0s;
}

.article--content p, .rte dl, .rte ul, .rte ol, .rte p, .rte blockquote, .rte img:not([style]), .dynamic-newsletter-text dl, .dynamic-newsletter-text ul, .dynamic-newsletter-text ol, .dynamic-newsletter-text p, .dynamic-newsletter-text blockquote, .dynamic-newsletter-text img:not([style]) {
  margin-top: 1.0625rem;
  margin-bottom: 1.0625rem;
  font-size:17px;
  line-height:2;
}

.article--content figure img {
  display: block;
  width: 100% !important;
  height: auto;
  max-width: 100%;
}

.rte img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
}

.rte ol li,
.rte ul li {
  margin-top: 1.0625rem;
}

.rte ol.list-child,
.rte ul.list-child {
  margin-top: 1.0625rem;
  margin-bottom: 2.125rem;
}
.rte ol.list-child{
  list-style-type: lower-latin;
}
.rte ol.list-child li,
.rte ul.list-child li{
  margin-top: 0rem;
}

#shopify-section-1596627533437 .blogposts--inner .article--excerpt-wrapper:nth-child(n + 3),
  #shopify-section-1596627533437 .blogposts--container .blogposts--inner .flickity-viewport .flickity-slider li:nth-child(n + 3){
    display:none  !important;
}

@media screen and (min-width: 1024px){
  .site-navigation a, .site-navigation .navmenu-depth-1 > li > a, .site-header-actions, .mobile-nav-content .navmenu-depth-1 > .navmenu-item > .navmenu-link {
  }
  .site-navigation .navmenu-icon {
    display: none;
  }
.site-navigation a:hover {
    color: #ADB5BD !important;
    transition: all 0.2s ease-in-out;
  }

  .site-navigation.en-display .navmenu-depth-2 .navmenu-link,
  .site-navigation.en-display .navmenu-item{
    font-size:24px!important;
    line-height:150% !important;
  }

.site-navigation.en-display a,
.site-navigation.en-display .navmenu-depth-1 > li > a,
.site-header-actions.en-display,
.mobile-nav-content.en-display .navmenu-depth-1 > .navmenu-item > .navmenu-link {
    font-size:24px!important;
    line-height:150% !important;
}

  .blogposts--container,
  .dynamic-collection-list--container,
  .featured-collections--container,
  .featured-product--container,
  .image-with-text,
  .alt-img-with-text--container,
  .logolist--container,
  .dynamic-map,
  .menulist--container,
  .dynamic-newsletter,
  .promo-grid--container,
  .promo-mosaic--container,
  .rich-text--container,
  .search-section-content,
  .testimonials-section,
  .twitter--container,
  .dynamic-video-wrapper {
      width: 840px !important;
  }
  
  .featured-collection--page{
    padding-top: 46px !important;
    padding-bottom: 46px !important;
  }
  

  .blogposts--inner:not(.flickity-enabled), .blogposts--inner .flickity-slider {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: start;
      transition: width 0.1s ease;
      margin-left:-20px;
  }
  .blogposts--count-3 .blogposts--inner .article--excerpt-wrapper{
      width: calc(50% - 20px);
      display: block;
      margin-left: 20px;
      margin-right: 0px;
      flex-grow:1;
  }

  .blogposts--inner .article--excerpt-wrapper {
    width: calc(50% - 20px);
    display: block;
    min-width: 280px;
    min-height: 100%;
    margin-left: 20px;
    margin-right: 0px !important;
    flex: none;
  }
  .blogposts--count-2 .blogposts--inner .article--excerpt-wrapper {
    width: calc(50% - 20px);
  }

  #shopify-section-1555971148754 .blogposts--inner .article--excerpt-wrapper {
      min-height: auto;
  }
  #shopify-section-1555971148754 .article--excerpt-wrapper--centered .article--excerpt-content {
    padding-top: 0rem;
    padding-bottom: 20px;
  }

  .featured-collection--container .featured-collection--content[data-layout="grid"] {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-row-gap: 20px;
      grid-column-gap: 40px;
      column-gap: 40px;
      row-gap: 20px;
      padding: 0;
  }
  .site-main  {
    font-size: 17px;
  }


  h1,
  .slideshow-slide-heading {
  }

  h2.article--excerpt-title{
  }
  h3.as-bl-media-body-title,
  h2.as-bl-media-body-title,
  h3.as-bl-media-body-title a,
  h2.as-bl-media-body-title a{
  }

  h2.as-bl-media-body-title-l,
  h2.as-bl-media-body-title-l a{
  }

    .article-meta-wrap + h2.as-bl-media-body-title-l,
    .article-meta-wrap + h1{
      margin-top: 6px;
    }

  h2.home-section--title {
  }

  h2.rich-text-heading-large {
    text-align: center;
  }
  .productitem--price,
  .article--excerpt-meta,
  .article--excerpt-meta-item  {
    font-size:17px;
  }

  .productitem--title {
  }

}

/** /font **/

.article--container {
  padding: 0 0px;
}

.as-inner {
  padding: 0 10px;
  width: 100%;
  max-width: 770px;
  margin: 0 auto;
}
.as-inner.as-inner-full {
  padding: 0 10px;
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
}

  .as-spl--inner {
    max-width: 750px;
    margin: 0 auto;
  }

/** slider **/
.slider-wrap {
  width: 100%;
  height: auto;
  max-width: 1000px;
  margin:0 auto;
}
.hero-wrap img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
}
.slider-wrap .lSPager {

}
.lSSlideOuter .lSPager.lSpg{
    margin-top: -10px !important;
}
.lSSlideOuter .lSPager.lSpg>li a {
    background-color: #adb5bd !important;
    border-radius: 50%;
    height: 6px;
    width: 6px;
    padding:0;
    margin: 0 1px;
    line-height: 1;
}
.lSSlideOuter .lSPager.lSpg>li.active a {
    background-color: #495057 !important;
}

.enapSlideOuter .EnaplSPager.enaplSpg>li a {
  background-color: #adb5bd !important;
  border-radius: 50%;
  height: 6px;
  width: 6px;
  padding:0;
  margin: 0 1px;
  line-height: 1;
}
.enapSlideOuter .EnaplSPager.enaplSpg>li.enapslideactive a {
    background-color: #495057 !important;
}
/** /slider **/

.as-header {
  margin-bottom: 23px;
}

.as-header .header-text p{
  margin-top: 0;
}

.as-header-subtitle {
  display: block;
  margin: -1.34em 0 0 !important;
}

.article--excerpt-wrapper {
    text-align: left !important;
}

.article--excerpt-meta-item {
  display:block;
    width:100%;
}

.article--excerpt-title,
.article--title,
.rte p{
}

.article--excerpt-title a {
  color:#212529 !important;
}

.article--excerpt-readmore {
  display:none;
}

.article--inner {
}

.article--inner-full {
}

.article--content p img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
}

  aside .as-page-link {
    padding:0;
    margin: 0px;
    list-style: none;
    text-align: left;
  }
  .as-page-link li{
    display: inline-block;
    margin: 0px;
  }
  .as-page-link li a{
    margin: 0 10px 0 0;
  }
@media screen and (min-width: 1024px){
  aside .as-page-link {
    text-align: center;
  }
  .as-page-link li a{
    margin: 0 10px 0 10px;
  }
}

.rte h2,
.article--content h2{
  border-top:1px solid;
    padding-top:15px;
    margin-top:calc(1.0rem * 4);
}

.as-text h2{
  border-top:1px solid;
  padding-top:15px;
  margin-top:calc(1.0rem * 4);
}

.as-page-content-inner {
  padding-left: 2em;
}

h3 + .as-page-content-inner ul,
h3 + .as-page-content-inner ol,
h3 + .as-page-content-inner p {
  margin-top: 0px;
}

.as-page-content-inner h3 {
  margin-bottom: 0px;
}

.as-text p img{
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
}

.article--content p .contents-img {
  display: inline-block;
  width: auto;
  height: auto;
  max-width: 290px;
}

.article--pagination.hide {
  display: none !important;
}
.article--pagination-chevron-right,
.article--pagination-chevron-left {
  display: none !important;
}

.share-buttons--title,
.share-buttons--linkedin,
.article-image {
  display:none !important;
}

.as_bl_halfMedia {
  display: flex;
  flex-wrap: wrap;
    margin-bottom: 2.0rem;
}
.as_bl_halfMedia_imgWrap{
  margin:0px 0 0 0;
}
.as_bl_halfMedia_imgWrap img{
  margin-bottom:0px !important;
  width:auto;
  height:auto;
  max-height:424px;
}
.as_bl_halfMedia_imgWrap figcaption {
  font-size:11px;
}

.as_bl_halfMedia_imgWrap figure {
  margin:0px 0 0 0;
}

.spl-subtitle {
  border-top:0px solid !important;
  text-align: center;
  padding:30px 0 15px;
  margin: 0px;
}
.spl-subtitle-child {
  border-top:0px solid !important;
  padding:30px 0 0px;
  margin: 0px;
}

.as-spl .as-flexbox-item {

}

.as-flexbox-item .caption{
  font-size: 11px !important;
  display: block;
  padding-top: 5px;
}

.as-flexbox.as-flexbox1-3--sp {
  margin-left: -10px;
  display: flex;
  flex-wrap: wrap;
}

.as-flexbox1-3--sp .as-flexbox-item {
  width: calc(33.333% - 10px);
  margin-left: 10px;
  margin-bottom: 10px;
}

.as-flexbox1-2 {
  margin:0 0 0 -10px;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.as-flexbox1-2 .as-flexbox-item{
  width: calc(50% - 10px);
  margin: 0 0 0 10px;
  list-style: none;
  padding: 0px;
}

.as-flexbox1-1{
  margin:0 0 0 0px;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.as-flexbox1-1 .as-flexbox-item{
  width: calc(100% - 0px);
  margin: 0 0 0 0px;
  list-style: none;
  padding: 0px;
}

.as-flexbox.as-flexbox-media {
  margin:0 0 0 0px;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  align-items: stretch;
}

.as-flexbox.as-flexbox-media .as-flexbox-item{
  width: calc(100% - 0px);
  margin: 0 0 0 0px;
  list-style: none;
  padding: 0px;
}

.as-flexbox-media-item {
  width: 100%;
  height: auto;
}

  .as-flexbox-media-item-img img{
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
  }

  .as-flexbox-media-logo .as-flexbox-media-item-img{
    max-width: 240px;
    margin: 0 auto;
  }

.as-img-wrap {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
  display: block;
}

.as-img-wrap img{
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.as-flexbox-media-item-body-text .button-wrap {
  text-align: center;
}

@media screen and (min-width: 1080px) {
    .as-ws-theme {
        display: flex;
        flex-wrap: wrap;
        width:100%;
    }
    .as-ws-theme .as-ws-theme-title{
        width:86px;
        margin-top: 0.53125rem;
    } 
    .as-ws-theme .as-ws-theme-desc{
        width:calc(100% - 86px);
        margin-left:0px;
        margin-top: 0.53125rem;
    }
}


/** home **/

body.template-index .featured-collection--content .productgrid--item:nth-of-type(n+10){
  display:none;
}

.as-home-media {
  display: block;
 margin-bottom:1.859375rem;
}

.as-home-media-image {
  width:100%;
  padding-bottom: 66.65%;
  position:relative;
}

.as-home-media-image a {
  display:block;
  position:absolute;
  width: 100%;
  height: 100%;
  left:0;
  top:0;
  z-index:2;
}

.as-home-media-image img {
  position:absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  left:0;
  top:0;
  z-index:1;
}

.as-home-media-body {
  width: 100%;
  padding: 0.796875rem 0 0.796875rem;
  font-size: var(--font-size-body);
}

.as-home-media-body h3{
  margin:0;
}


.as-home-media-text {
  padding: 0 0 0;
}

.as-home-media-text p{
  margin:0;
}

.as-home-media-text a {
  text-decoration:none;
}

@media screen and (min-width: 1024px){
  .as-home-media {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    align-items: center;
    margin:0 auto 40px;
    max-width:840px;
  }
  .as-home-media-image {
    width:50%;
    padding-bottom: 33.325%;
  }

  .as-home-media-image img {
  }

  .as-home-media-body {
    width: 50%;
    padding: 0rem 0 0 1.859375rem;
  }
  
  .as-home-media-text {
    padding: 0.796875rem 0 0 0;
  }
  
}

.article--container {
  flex-wrap: wrap;
}

.as-header {
  width:100%;
}

@media screen and (max-width: 1023px) and (min-width: 680px) {
  .article--sidebar {
    display:none;
  }
}

/** /home **/

.slick-responsive {
  max-width:1040px;
  margin:0 auto;
  padding:0;
}

.slick-responsive .productitem {
    padding: 0 20px;
}


@media screen and (max-width: 980px){
  .featured-collection--page {
        padding-top: 20px;
      padding-bottom: 20px;
   }
  .slick-responsive .productitem {
      padding: 0.796875rem 0px 1.328125rem 10px;
  }
  .slick-prev, .slick-next {
    display:none !important;
  }
  
  .featured-collection--wrapper .featured-collection--container {
    padding-right:0px;
    padding-left:0px;
  }
  
  .slick-responsive .slick-list {
    padding: 0 40% 0 0 !important;
  }
}

.slick-responsive .productitem:hover {
    box-shadow: none;
}

.slick-prev, .slick-next {
  z-index:999;
}

.slick-responsive .slick-disabled {
display:none !important;
}

.slick-responsive .slick-prev {
  width:40px;
  height:40px;
  background:url(arrow-left-dark.svg);
   background-size:40px auto;
  background-repeat:none;
  left:-40px;
  opacity:1 !important;
}

.slick-responsive .slick-prev:hover {
  width:40px;
  height:40px;
  background:url(arrow-left-dark.svg);
   background-size:40px auto;
  background-repeat:none;
  opacity:0.6;
}

.slick-responsive .slick-next:hover {
  width:40px;
  height:40px;
  background:url(arrow-right-dark.svg);
  background-size:40px auto;
  background-repeat:none;
  opacity:0.6;
}

.slick-responsive .slick-next {
  width:40px;
  height:40px;
  background:url(arrow-right-dark.svg);
   background-size:40px auto;
  background-repeat:none;
  right:-40px;
}

.slick-responsive .slick-prev:before,
.slick-responsive .slick-next:before {
    content: '←';
  display:none;
}

.slick-responsive {
}

.slick-prev {
}

@media screen and (min-width: 1024px){
  .as-flexbox1-2.as-flexbox1-3--lg {
    margin:0 0 0 -20px;
  }
  .as-flexbox1-2.as-flexbox1-3--lg .as-flexbox-item{
    width: calc(33.333% - 20px);
    margin: 0 0 0 20px;
    list-style: none;
    padding: 0px;
  }

  .as-flexbox.as-flexbox1-2--lg {
    margin:0 0 0 -20px;
  }
  .as-flexbox.as-flexbox1-2--lg .as-flexbox-item{
    width: calc(50% - 20px);
    margin: 0 0 0 20px;
    list-style: none;
    padding: 0px;
  }

  .as-flexbox.as-flexbox-media {
    margin:0 0 0 0px;
    padding: 0;
  }

  .as-flexbox.as-flexbox-media .as-flexbox-media-item.as-flexbox-media-item-img{
    width: 50%;
  }


  .as-img-wrap {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    padding-bottom: 0%;
    position: relative;
  }

  .as-img-wrap img{
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .as-flexbox.as-flexbox-media .as-flexbox-media-item.as-flexbox-media-item-body{
    width: 50%;
    padding: 2.75rem 0 1.859375rem 2.75rem;
    box-sizing: border-box;
  }

  .as-flexbox.as-flexbox-media .as-flexbox-media-item.as-flexbox-media-item-body h3 {
    margin-top: 0px;
  }

  .as-flexbox.as-flexbox-media.as-flexbox-media-logo .as-flexbox-media-item.as-flexbox-media-item-img{
    width: 30%;
  }
  .as-flexbox.as-flexbox-media.as-flexbox-media-logo .as-flexbox-media-item.as-flexbox-media-item-body{
    width: 70%;
    padding: 0rem 0 0rem 2.75rem;
    box-sizing: border-box;
  }


}

.as-flexbox1-2 .as-flexbox-item .as-flexbox-item-figure{
  margin: 0px;
  padding: 0px;
}

.as-flexbox1-2 .as-flexbox-item .as-flexbox-item-figure-inner {
  width: 100%;
  padding-top:66.666%;
  position: relative;
}

.as-flexbox1-2 .as-flexbox-item .as-flexbox-item-figure-inner img{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  z-index: 1;
}

.as-flexbox1-2 .as-flexbox-item .as-flexbox-item-figure-inner a {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

.as-flexbox1-2 .as-flexbox-item .article--excerpt-content h2 {
  margin: 0 !important;
}

@media screen and (min-width: 1024px){
  .as_bl_halfMedia_body {
      width:50%;
  }
  .as_bl_halfMedia_imgWrap {
      width:50%;
      padding:0 0 0 25px;
      margin:0px 0 0 0;
  }

  .article--inner {
      max-width: 770px;
      padding: 0 10px;
  }

  .article--inner-full {
      max-width: 1020px;
      padding: 0 10px;
  }
  .as-spl .as-flexbox-item {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

}

.as-flexbox.as-flexbox-thumbnail--s {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  margin-left: 0px;
}

.as-flexbox-thumbnail--s .as-flexbox-item {
  width: 100%;
  margin: 0;
}

.as-flexbox-thumbnail--s .as-flexbox-item figure {
  width: calc(50vw - 10px - 5px);
  max-width: 220px;
}

@media screen and (min-width: 1024px){
  .as-flexbox-thumbnail--s .as-flexbox-item-img {
    width: 220px;
  }
  .as-flexbox-thumbnail--s .as-flexbox-item-text {
    width: calc(100% - 220px);
    padding-right: 20px;
    box-sizing: border-box;
  }
  .as-flexbox-thumbnail--s .as-flexbox-item-text p:first-child {
    margin-top: 0px;
  }
}

.as-flexbox.as-spl-about {
  margin-left: 0px;
  display: flex;
  flex-wrap: wrap;
}

.as-flexbox.as-spl-about .as-flexbox-item2-3 {
  width: 66.666%;
  margin: 0 0 0 0px;
  padding-right: 7px;
}

.as-flexbox.as-spl-about .as-flexbox-item1-3 {
  width: 33.333%;
  margin: 0 0 0 0px;
  padding-left: 3px;
}

.as-flexbox.as-flexbox1-3--about {
  margin-left: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.as-flexbox.as-flexbox1-3--about .as-flexbox-item{
  width: 50%;
  padding: 0 5px;
  margin: 10px 0;
}

.as-flexbox.as-flexbox1-3--about .as-flexbox-item.as-flexbox-item-left{
  width: 50%;
  padding: 0 5px 0 0;
  margin: 10px 0;
}

.as-flexbox.as-flexbox1-3--about .as-flexbox-item.as-flexbox-item-right{
  width: 50%;
  padding: 0 0px 0 5px;
  margin: 10px 0;
}

.as-flexbox.as-flexbox1-3--about .as-flexbox-item.as-flexbox-item-full{
  width: 100%;
  padding: 0 0px 0 0px;
  margin: 10px 0;
}

@media screen and (min-width: 1024px){
  .as-flexbox.as-flexbox1-3--about {
    margin-left: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .as-flexbox.as-flexbox1-3--about .as-flexbox-item,
  .as-flexbox.as-flexbox1-3--about .as-flexbox-item.as-flexbox-item-full,
  .as-flexbox.as-flexbox1-3--about .as-flexbox-item.as-flexbox-item-left,
  .as-flexbox.as-flexbox1-3--about .as-flexbox-item.as-flexbox-item-right{
    width: 33.333%;
    padding: 0 10px;
    margin: 20px 0;
  }
}

/** header **/
.header-slide {
  margin-top: 1.75rem;
}

.header-slide-demo .bx-viewport {
  height:auto !important;
}
.header-slide-demo ul {
  margin:0;
  padding:0;
}
.header-slide-demo ul li{
  list-style:none;
    margin:0;
    padding-bottom:66.65% !important;
  height:auto !important;
}

.header-slide-demo-demo ul li img {
}

.header-text {
  margin-bottom: 1.75rem;
}
.breadcrumbs-container span:last-child{
  display: none;
}
.site-header-main-actions .site-header-icon {
}
.site-header-cart--count {
  font-size:11px;
}
/** header **/

.bx-wrapper {
    margin: 0 auto 1.75rem　!important;
}

.breadcrumbs-container {
  max-width: 1080px !important;
  font-size:17px;
  line-height:1.62;
}

.productgrid--outer .breadcrumbs-container {
  padding-right: 10px;
  padding-left: 10px;
}

@media screen and (min-width: 1024px){
  .breadcrumbs-container,
  .productgrid--outer .breadcrumbs-container {
      padding-right: 40px !important;
      padding-left: 40px !important;
  }
}

/** home **/

.featured-collection--container .featured-collection--content .productgrid--item {
}

@media screen and (max-width: 768px){
  .featured-collection--container .featured-collection--content .productgrid--item {
    margin-left:0px;
    margin-right:0px;
    padding-left:10px;
  }
  .alt-img-with-text--content .alt-img-with-text--text{
    max-width: 100%;
    padding-right: 0px;
    padding: 0.796875rem 0 0;
  }
}

.alt-img-with-text--content .heading,
.alt-img-with-text--content .text-content {
  text-align: left;
}


.alt-img-with-text--content .alt-img-with-text--text .text-content {
    margin: 0 0 0 !important;
}

#shopify-section-1596626979864 .flickity-slider {
  height: auto !important;
}
#shopify-section-1596626979864 .blogposts--inner .flickity-slider {
    display: block;
    transition: width 0.1s ease;
}

#shopify-section-1596626979864 .blogposts--inner .article--excerpt-wrapper-news {
    width: 100% !important;
    max-width: 100%;
    position: relative !important;
    left: auto !important;
    top: auto !important;
    margin-right: 0px;
    min-width: auto;
    min-height: auto;
    display: block;
    margin: 0;
    padding: 0;
    flex: 0 0 auto;
}
  #shopify-section-1596626979864 .article--excerpt-wrapper-news .article--excerpt-content {
    padding:0rem 0 1.328125rem;
  }
  #shopify-section-1596626979864 .article--excerpt-wrapper-news:last-child .article--excerpt-content {
    padding:0rem 0 0rem;
  }

#shopify-section-1596626979864 .article--excerpt-meta-item,
#shopify-section-1596626979864 .article--excerpt-title{
  line-height: 2 !important;
  margin-bottom: 0px;
}

  @media screen and (min-width: 1024px){
    #shopify-section-1596626979864 .article--excerpt-wrapper-news .article--excerpt-content {
      text-align: center;
    }
    #shopify-section-1596626979864 .article--excerpt-wrapper-news .article--excerpt-content .article--excerpt-meta{
      display: inline-block;
    }
    #shopify-section-1596626979864 .article--excerpt-wrapper-news .article--excerpt-content .article-meta-wrap{
      display: inline-block;
    }
    #shopify-section-1596626979864 .article--excerpt-meta-item,
    #shopify-section-1596626979864 .article--excerpt-title{
      font-size: 17px;
    }
  }

.blogposts--inner .article--excerpt-wrapper {
  max-width: 280px;
}
.blogposts--footer {
}
.home-section--subheading {
    margin: 0 0vw;
}

.as--home-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (min-width: 720px){
  .alt-img-with-text--content .alt-img-with-text--text {
      padding: 0rem 0 0 1.859375rem;
      margin: 0;
  }
}
/** /home **/

 /** collection **/
  .empty-box + .results--container {
    display: none;
  }
 /** collection **/

/** products **/
.stock-level--wrapper {

}

.stock-count{
  display:none;
}

.stock-5,
.stock-4,
.stock-3,
.stock-2,
.stock-1{
  display:block;
}

.badge--soldout {
  color: #FFFFFF !important;
  background-color: rgba(173, 181, 189, 0.7) !important;
  font-size:14px;
  line-height:1 !important;
  padding: 5px 13px !important;
}

.product-form--atc {
    display: block !important;
}

.product-form--atc-qty {
    width: 100% !important;
}

.NullsgifDiv {
  margin: 10px 0;
  padding: 5px;
  background-color: #fafafa;
}

.spb-label-tooltip .spb-tooltip {
  display: none;
}

.spb-select select{
  width: 100%;
  padding: 0.9375rem 0.875rem 0.9375rem;
  letter-spacing: 0.0em;
  color: #212529;
  background-color: #ffffff;
  border: 1px solid #212529;
  border-radius: calc(51px * 0.5);
  padding-right: 36px;
  padding-left: 32px;
  font-family: IwaOMinPro-Th, "Times New Roman", "ＭＳ 明朝", "MS Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", メイリオ, meiryo, serif　!important;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url(arrow-select-bold.svg);
  background-size: 7px auto;
  background-repeat: no-repeat;
  background-position: right 14px center;
}

.spb-select {
  margin-bottom: 20px;
}

#infiniteoptions-container fieldset {
    border: 0px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0em 0.75em;
}

#infiniteoptions-container label input[type="checkbox"] {
  margin-right: 4px;
}

#infiniteoptions-container label {
  width: 100%;
  display: block;
}

@media screen and (min-width: 1024px){
  #infiniteoptions-container {
    margin-bottom: 30px;
  }
  .spb-select{
    margin-bottom: 10px;
  }
}

/** /products **/

/** cart **/
.account-page-login .form-action-row  .form-action-row--helper,
.account-page-register .form-action-row .form-action-row--helper{
  margin-top: 1.0625rem;
  margin-left: 0px;
  display: block;
}
.identixweb-order-delivery .uiHeading {
  font-weight: 400 !important;
  font-size: 16px !important;
}
.ui-datepicker-year::after {
  content: "年"
}
/** /cart **/

/** blog **/
.as-inner .blog--inner .article--excerpt-wrapper.article--excerpt-wrapper-full {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    min-height: auto;
    margin-bottom: 1.66rem;
}
  .bl-item-img-wrap {
    max-width: 360px;
    margin: 0 0 1.0625rem;
  }
    .bl-item-img-wrap img {
      display: block;
      width: auto;
      height: all;
      max-width: 100%;
      max-height: 360px;
    }
  .as-list-tag {
    padding:0;
    margin: 0px;
    list-style: none;
  }
  .as-list-tag li{
    display: inline-block;
  }
  .as-list-tag li a{
    padding: 0px;
    margin: 0 1em 0 0;
  }
  .as-list-tag li:first-child a{
  }
.article--excerpt-meta-item.article--excerpt-meta-item-date {
    padding-left: 0px;
    margin-left: 0px;
    border-left: 0px solid #212529;
    display: inline-block;
    width: auto;
}
.article--excerpt-meta-item.article--excerpt-meta-item-date + h2{
  margin-top: 0px;
}

.article-meta-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.article-meta-wrap .article-tag-label {
  display: none;
}

.breadcrumbs--wrapper + .article--container .article-meta-wrap {
  margin: 50px 0 0;
}
@media screen and (min-width: 1080px){
  .breadcrumbs--wrapper + .article--container .article-meta-wrap {
    margin: 60px 0 0;
  }
}

.blog--inner-full .article-meta-wrap .tag-label {
  display: none;
}

.blog--excerpt-text p{
  margin-top: 1.0625rem;
  margin-bottom: 1.0625rem;
}

p img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
}
/** /blog **/

/** element **/
.tag-label {
  font-size: 11px;
  display: inline-block;
  line-height: 1;
}
.tag-label.tag-label-active{
  padding: 5px 10px;
  background-color: #212529;
  color: #FFFFFF;
}
.tag-label + h2{
  margin-top: 0px;
}

.article--excerpt-image .tag-label {
  font-size: 14px;
  display: inline-block;
  line-height: 1;
  opacity: 0;
  position: absolute;
  left: 0;
  bottom: 0;
}

.article--excerpt-image .tag-label.tag-label-active{
  background-color: rgba(33, 37, 41, 1) !important;
  font-size: 14px;
  line-height: 1 !important;
  padding: 5px 13px !important;
  opacity: 1;
}
.article--excerpt-image .tag-label.tag-label-active.tag-label-secondary{
  background-color: rgba(222, 226, 230, 1) !important;
  font-size: 14px;
  line-height: 1 !important;
  padding: 5px 13px !important;
  opacity: 1;
  color: rgba(33, 37, 41, 1);
}

.blog--inner-full .tag-label {
  font-size: 11px;
  display: inline-block;
  line-height: 1;
  padding: 5px 10px;
  background-color: #212529;
  color: #FFFFFF;
  margin-right: 10px;
}

.blog--inner-full .article--excerpt-meta-item-date {
  line-height: 1;
}

.article-tag-label {
  font-size: 11px;
  display: inline-block;
  line-height: 1;
  padding: 5px 10px;
  background-color: #212529;
  color: #FFFFFF;
  margin-right: 10px;
}

.link-arrow {
  text-decoration: none;
}
.link-arrow span {
  display: inline-block;
  background-color: #212529;
  padding: 0px 5px;
  line-height: 1;
  margin-left: 3px;
}
.link-arrow span i{
    font-family: FontAwesome !important;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 1;
    font-style: normal;
}
.btn-link {
  background-color: #212529;
  color: #FFFFFF !important;
  padding: 2px 10px 3px;
  display: inline-block;
  text-decoration: none;
}

.button-secondary.hide {
  display: none !important;
}

/** element **/
/** block **/
.blog--container {
  padding: 0 0;
}
.as-bl-media {
  position: relative;
}
.as-bl-media-img {
  margin: 0 0;
}

.as-bl-media-img p {
  margin: 0;
  padding: 0;
  font-size: 13px;
  text-align: right;
  display: block;
}

.slider-wrap img,
.slider-wrap .enap-slider-img img,
.as-bl-media-img img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
}

.enapSlideOuter .EnaplSPager.enaplSpg,
.slider-wrap .lSSlideOuter .lSPager.lSpg,
.as-bl-media-img .lSSlideOuter .lSPager.lSpg{
    margin-top: -0px !important;
}

.slider-wrap .lSAction {
    display: block !important;
}

.as-bl-media-body-text table{
  border-spacing: 0px;
  border: none;
  vertical-align:top;
  width: 100%;
  overflow-y: scroll;
  border-bottom:1px solid #212529;
  margin: 1em 0;
}
  .as-bl-media-body-text table td {
    padding: 10px 0px 10px 0;
    border-top:1px solid #212529;
    border-right:0px solid #212529;
    border-left:0px solid #212529;
    border-bottom:0px solid #212529;
    vertical-align:top;
  }
  .as-bl-media-body-text table td:first-child {
    white-space: nowrap;
    padding: 10px 20px 10px 0;
  }


  .as-bl-media-body-text .as-ws-table-wrap table {
    border-spacing: 0px;
    border: none;
    vertical-align: top;
    width: 100%;
    overflow-y: scroll;
    border-bottom: 0px solid #212529;
    margin: 1em 0;
  }

  .as-bl-media-body-text .as-ws-table-wrap table td {
    padding: 10px 0px 10px 0;
    border-top:1px solid #212529;
    border-bottom:0px solid #212529;
    vertical-align:top;
  }
  .as-bl-media-body-text .as-ws-table-wrap table tr:last-child td {
    border-bottom:1px solid #212529;
  }

  .as-bl-media-body-text .as-ws-table-wrap table td:first-child {
    white-space: nowrap;
    padding: 10px 10px 10px 0;
    width: 86px;
  }

@media screen and (max-width: 1080px){
  .as-bl-media-body-text .as-ws-table-wrap {
    overflow-x: scroll;
  }
  .as-bl-media-body-text .as-ws-table-wrap table {
    width: 100%;
    border-collapse: collapse;
    border-bottom:0px solid #212529;
  }
  .as-bl-media-body-text .as-ws-table-wrap table th,
  .as-bl-media-body-text .as-ws-table-wrap table td {
    width: auto;
    display: table-cell;
  }
}


.as-bl-wrap {
}

.side-nav {
  margin-bottom: 3.1875rem;
}
@media screen and (max-width: 1080px){
  .template-page .side-nav .as-list-tag li {
    display: block;
  }

  .template-page .side-nav .as-list-tag li .as-font-link{
    margin-left: 1em;
  }
}
.as-bl-item{
  padding-top: 20px;
  padding-bottom: 20px;
}

.as-flexbox {
}
.as-flexbox-item {
  margin-top: 10px;
}
.as-flexbox-item img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  margin: 0 !important;
}

.products-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.products-list li .as-flexbox-item-figure {
  padding: 0;
  margin: 0;
}

.products-list li .as-flexbox-item-figure img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  margin: 0 !important;
}

.productgrid--outer {
  padding: 0px;
}
.template-collection .results--container {
   padding: 0px 10px;
}
.productitem--title {
  margin-top: 0px;
}

.article--excerpt-content,
.article--excerpt-wrapper--centered .article--excerpt-content {
    padding: 0.796875rem 0 1.328125rem;
}

.article--excerpt-content .article--excerpt-meta + .article--excerpt-title{
    margin-top: 0rem;
}

.as-bl-media-img a:hover img,
a.article--excerpt-image:hover,
.as-flexbox-item-figure:hover{
  opacity: 0.6;
  transition: all 0.2s ease-in-out;
}

.article--excerpt-text p a:hover,
.as-bl-media h2.as-font-subtitle a:hover,
.article--excerpt-title a:hover,
.article--excerpt-content h2 a:hover{
  color: #adb5bd !important;
  transition: all 0.2s ease-in-out;
  border: none;
  text-decoration: none;
}


.rte .social-icons,
.article--excerpt-text .social-icons{
  margin-top: 1.0625rem;
}

.hover-exception .as-flexbox-item-figure:hover{
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

  .as-bl-item.hide,
  .as-flexbox-item.hide{
    display: none;
  }

/** /block **/

@media screen and (min-width: 1024px){
  
  .as-header {
    margin-bottom: 46px;
  }

  .article--excerpt-content {
      padding-right: 0rem;
      padding-left: 0rem;
  }
  
  .site-logo-link {
      padding:39px 0 39px;
  }
  
  .header-slide ul li img {
      display:block;
      width:100%;
      height:560px;
      object-fit: cover;
  }

 /** home **/
  body.template-index .slider-wrap,
  .slider-wrap.slider-wrap-top {
    padding-top: 40px;
  }
  .blogposts--inner .article--excerpt-wrapper {
    max-width: 100%;
  }
  .as--home-container {
    padding-top: 46px;
    padding-bottom: 46px;
  }
 /** /home **/

 /** collection **/
  .productgrid--items {
      grid-template-columns: repeat(4, 1fr);
  }
  .results--container {
    max-width: 1000px;
    margin: 0 auto;
  }
 /** collection **/

 /** block **/
  .as-inner .blog--inner {
      margin-left: -20px;
  }
    .as-inner .blog--inner.blog--inner-full {
        margin-left: 0px;
    }
  .as-inner .blog--inner .article--excerpt-wrapper {
      width: calc(50% - 20px);
      margin-right: 0px;
      margin-left: 20px;
  } 

  .as-flexbox {
    margin-left: -20px;
    display: flex;
    flex-wrap: wrap;
  }
  .as-flexbox-item {
    width: calc(50% - 20px);
    margin-left: 20px;
    margin-bottom: 20px;
  }

  .as-flexbox1-3.as-flexbox1-3--sp .as-flexbox-item,
  .as-flexbox1-3 .as-flexbox-item {
    width: calc(33.333% - 20px);
    margin-left: 20px;
    margin-bottom: 20px;
  }

  .as-bl-wrap {
  }
  .as-bl-item{
    padding-top: 46px;
    padding-bottom: 46px;
  }

  .as-bl-item.as-bl-media{
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .template-collection .results--container {
     padding: 0px 0px;
  }

  .as-flexbox-products {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2.75rem;
    flex-direction: row-reverse;
  }

  .as-flexbox-products .as-flexbox-item-figure{
    width: 50%;
  }
  .as-flexbox-products .article--excerpt-content{
    width: 50%;
    padding: 0 2.75rem 0 0;
    box-sizing: border-box;
  }
  .as-flexbox-products .article--excerpt-content h2 {
    padding-top: 0px;
    margin-top: 0px;
  }
/** /block **/
}


#page-top {
  display: inline-block;
  position: fixed;
  right: 10px;
  bottom: 12px;
  z-index: 999;
  display: none;
  color: #ffffff;
  width: 48px;
  height: 48px;
  padding: 0;
  background-color: transparent;
  border: 0px;
}

#page-top img{
  display: block;
  width: 100%;
  height: auto;
}
@media screen and (min-width: 1080px){
  #page-top {
    right: 24px;
    bottom: 100px;
  }
}

.product__tax {
    display: none !important;
}

.product-pricing .price--main .money::after {
  content: "税込";
  display: inline;
  margin-bottom: 0.265625rem;
  font-size: var(--font-size-body-smallest);
  color: rgba(33, 37, 41, 0.8);
}


/** footer **/
.social-icons-inverted .social-link img {
  display: block;
    background-color: #212529;
    width: 28px;
    height: 28px;
    border-radius: 100%;
}

.social-link.social-link-note img {
  display: block;
    background-color: #FFFFFF;
  fill: #212529 !important;
    width: 28px;
    height: 28px;
    border-radius: 100%;
}


  .site-footer-block-item {
      padding-right:0px !important;
  }

/** /footer  **/

