<article class="site-page" data-template-page>
  <div class="breadcrumbs--wrapper">
    {% include 'breadcrumbs' %}
  </div>
  <header class="page-masthead">
    <h1 class="page-title">
      {{ page.title }}
    </h1>
      {% if page.metafields.custom_fields["page_slideshow"] != blank %}
        <div class="header-slide">
            {{ page.metafields.custom_fields["page_slideshow"] }}
        </div>
      {% endif %}
      {% if page.metafields.custom_fields["page_read-text"] != blank %}
        <div class="header-text rte">
          {{ page.metafields.custom_fields["page_read-text"] }}
        </div>
      {% endif %}
  </header>

  {% if page.content != blank %}
    <div class="page-content rte">
      {{ page.content }}
    </div>
  {% endif %}
</article>
